# OS cruft
.DS_Store
Thumbs.db
*.lnk

# internal items
.vscode/
.links/
**/dev-notes.txt

# Build/packaging artifacts
*.zip
*.tar.gz

# Logs
*.log

# (Keep these in repo)
# .vscode/tasks.json  <-- keep if you want shared tasks
